page-home {
    

}

ion-content{
    background-image: url(../../assets/imgs/Rainbow_Cake.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h2{
        text-align: center;
    }

    
}

.uname{
    bottom: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
}
